.p-background {
  background-color: red;
  transform: rotate(45deg);
  color: white;
  border: 2px blue solid;
  font-size: 24px;
}

.div-class {
  background-image: url("../images/bg.jpg");
  height: 1000px;
}
